@(poll: models.Poll)(implicit request: RequestHeader)

@main("SpeakerFeedback") {

<div class="container">
    <div class="page-header">
        <h1>Feedback</h1>
    </div>
    <p class="lead">Please send me your feedback.</p>

    <div class="poll">
        @for(item <- poll.items) {
        <div class="row item">
            <div class="col-md-3">
                <button type="button" class="btn btn-lg btn-block btn-default" data-item-id="@item.id">
                    @item.title
                </button>
            </div>
            <div class="col-md-1">
                <div class="count" data-item-id="@item.id">0</div>
            </div>
        </div>
        }
    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted">&copy hidetake.org, 2014.</p>
    </div>
</div>

<script>
var ws = new WebSocket("@routes.Application.pollSocket("example").webSocketURL()");
</script>

}
