@(implicit request: RequestHeader)

@main("SpeakerFeedback") {

<form id="feedback">
    <input id="message" placeholder="Say that hip hop shit" />
    <button type="submit">Say</button>
</form>

<ul id="messages"></ul>

<script type="text/javascript">
$(function () {
    var ws = new WebSocket("@routes.Application.pollSocket("example").webSocketURL()");
    ws.onmessage = function(message) {
        $('<li />').text(message.data).appendTo('#messages')
    };
    $('#feedback').submit(function(){
        ws.send($('#message').val());
        $('#message').val("").focus();
        return false;
    });
});
</script>

}
